@model List<AccountingSystem.ViewModel.UserViewModel>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "List Admin User";

}

<h2 class="text-center">List of Registered Users</h2>

<table class="table table-responsive table-bordered table-condensed">
    <tr>
        <th>UserName</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="display:none;">item.Id</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.phone</td>
            <td>@item.Role</td>
            <td>
                @if (User.Identity.GetUserName() != "SuperAdmin")
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.userId })
                }
            </td>
        </tr>
    }
</table>
