@model AccountingSystem.Models.fiscalYear

@{
    ViewBag.Title = "Edit FiscalYear";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <h2 class="text-center">आर्थिक वर्षको विवरण परिवर्तन गर्नुहोस</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.fyId)
        <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="col-md-12">
            <div class="form-group">
                <label>नेपाली आर्थिक वर्ष</label>
                @Html.TextBoxFor(model => model.nepFy, new { @class = "form-control", id = "txtNepFy" })
                @Html.ValidationMessageFor(model => model.nepFy)
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>अंग्रेजी आर्थिक वर्ष</label>
                @Html.TextBoxFor(model => model.enFy, new { @class = "form-control", id = "txtEnFy" })
                @Html.ValidationMessageFor(model => model.enFy)
            </div>
        </div>
        @if (Model.status == true)
        {
        <div class="col-md-12">
            <div class="form-group">
                <label>स्टाटस</label><br />
                @Html.RadioButton("status", true, new { disabled = "disabled" })TRUE
                @Html.RadioButton("status", false, new { disabled = "disabled" })FALSE
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>
        }
        else
        {
        <div class="col-md-12">
            <div class="form-group">
                <label>स्टाटस</label><br />
                @Html.RadioButton("status", true)TRUE
                @Html.RadioButton("status", false)FALSE
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>
        }
        <div class="form-group">
            @Html.Hidden("activatedDate", DateTime.Now)
            @Html.ValidationMessageFor(model => model.activatedDate)
        </div>

        <div class="form-group">
            @Html.Hidden("activatedBy", "")
            @Html.ValidationMessageFor(model => model.activatedBy)
        </div>

        <div class="col-md-12 text-center">
            <input type="submit" value="Save" class="btn btn-primary" id="btnSubmit" /> @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
        <div class="col-md-4"></div>
    }

</div>
@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery.ui")
    @Styles.Render("~/Content/css/jquery.ui")
    <script src="~/Scripts/NepaliUnicode.js"></script>
<script src="~/Transliteration/jsapi.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var ele1 = $("#txtNepFy");
            var ele2 = $("#txtEnFy");
            AddUnicode(ele1);
            AddUnicode(ele2);


            var nepFy = null;
            var fyId = 0;

            function validateStatus() {
                $.ajax({
                    url: '/FiscalYear/getFiscalYear/',
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.status == true) {
                            nepFy = data.nepFy;
                            fyId = parseInt(data.fyId);
                        }
                        else if (data.status == false) {
                            nepFy = null;
                        }
                    },
                    error: function (response) {
                        alert("Something Went Wrong");
                    }
                });
            }

            validateStatus();
            $("#btnSubmit").click(function (e) {
                var breakout = $('input[name=status]:checked').val();
                var fiscalYearId=parseInt($('input[name=fyId]').val());
                if (breakout == "True" && (fyId != fiscalYearId)) {
                        if (confirm("Record Already contains a fiscal year " + nepFy + " with status TRUE,Do you want to change the status of fical year")) {

                        } else {
                            e.preventDefault();
                        }
                }
                //else if (breakout == "True" && (fyId == fiscalYearId))
                //{
                    
                //}
            });
        });
    </script>
   <script src="~/Transliteration/transliteration.js"></script>
<link href="~/Transliteration/transliteration.css" rel="stylesheet" />
<script src="~/Transliteration/transliteration.I.js"></script>

}
