@model List<AccountingSystem.Models.hisab>


@{
    ViewBag.Title = "Bajet Hisab";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    #tbl {
        border-collapse: collapse;
        width: 100%;
        font-size: 10px;
    }

        #tbl td, #tbl th {
            border: 1px solid black;
            padding: 1px;
        }

    /*th.rotate {
        white-space: nowrap;
        font-size:10px;
    }

        th.rotate > div {
            transform:
            translate(1px, 1px)
            rotate(270deg);
            font-size: 10px;
        }

            th.rotate > div > span {
                border-bottom: 1px solid #ccc;
                padding: 1px 1px;
                font-size: 10px;
            }*/
</style>
<div class="row" id="printDiv" style="font-size:10px;">
    <div style="width:100%;text-align:center">राष्ट्रिय अभिलेखालय रामशाहपथ काठमाडौँ<br /><b>बजेट हिसाब</b></div>
    <div class="width:100%;">
        <span style="float:left;display:inline;">@Model[0].year वर्ष @Model[0].month महिनाको</span>
        <span style="float:right;display:inline;">मा.ले.पा.फा.नं.८</span>
    </div>
    @if(Model[0].baUSiNo=="३२५०१४३")
    { 
    <table id="tbl">
        <tr>
            <th colspan="4"></th>
            <th colspan="18">चालु खर्च</th>
        </tr>
        <tr>
            <th colspan="4">बजेट शिर्षक नं. @Model[0].baUSiNo</th>
            <th colspan="4"> उपभोग खर्च</th>
            <th colspan="14"> कार्यालय संचालन तथा लेखा खर्च</th>
        </tr>
        <tr>
            <td colspan="4" rowspan="2"></td>
            <th class="rotate"><div><span>तलब</span></div></th>
            <th class="rotate"><div><span>महंगी भत्ता</span></div></th>
            <th class="rotate"><div><span>अन्य भत्ता</span></div></th>
            <th class="rotate"><div><span>पोशाक</span></div></th>
            <th class="rotate"><div><span>पानी तथा बिजुली</span></div></th>
            <th class="rotate"><div><span>संचार महसुल</span></div></th>
            <th class="rotate"><div><span>इन्धन</span></div></th>
            <th class="rotate"><div><span>संचालन तथा मर्मत खर्च</span></div></th>
            <th class="rotate"><div><span>बीमा</span></div></th>
            <th class="rotate"><div><span>कार्यालय सम्बन्धि खर्च</span></div></th>
            <th class="rotate"><div><span>पुस्तक तथा सामग्री खर्च</span></div></th>
            <th class="rotate"><div><span>सेवा र परामर्श खर्च</span></div></th>
            <th class="rotate"><div><span>अन्य सेवा शुल्क</span></div></th>
            <th class="rotate"><div><span>कार्यक्रम खर्च</span></div></th>
            <th class="rotate"><div><span>विविध कार्यक्रम खर्च</span></div></th>
            <th class="rotate"><div><span>अनुगमन, मुल्यांकन खर्च</span></div></th>
            <th class="rotate"><div><span>भ्रमण खर्च</span></div></th>
            <th class="rotate"><div><span>विविध खर्च</span></div></th>
        </tr>
        <tr>
            <th>२११११</th>
            <th>२१११३</th>
            <th>२१११९</th>
            <th>२११२१</th>
            <th>२२१११</th>
            <th>२२११२</th>
            <th>२२२११</th>
            <th>२२२१२</th>
            <th>२२२१३</th>
            <th>२२३११</th>
            <th>२२३१३</th>
            <th>२२४११</th>
            <th>२२४१२</th>
            <th>२२५२२</th>
            <th>२२५२९</th>
            <th>२२६११</th>
            <th>२२६१२</th>
            <th>२२७११</th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.bajetHisabType == "budget")
            {
                <tr>
                    <td colspan="3">@item.bibaran</td>
                    <td>
                        @CheckZero(item.talab + item.mahangiBhatta + item.anyaBhatta + item.posak + item.paniBijuli + item.sancharMahasul + item.endhan + item.sanchalanMarmat +
                    item.bima + item.karyalayaSambandhi + item.pustakSamagri + item.sewaParamarsa + item.anyaSewaSulka + item.karyakram + item.bibidhaKaryakram + item.anugamanMulyankan + item.bhraman + item.bibidha)
                </td>
                <td>
                    @CheckZero(item.talab)
                </td>
                <td>
                    @CheckZero(item.mahangiBhatta)
                </td>
                <td>
                    @CheckZero(item.anyaBhatta)
                </td>
                <td>
                    @CheckZero(item.posak)
                </td>
                <td>
                    @CheckZero(item.paniBijuli)
                </td>
                <td>
                    @CheckZero(item.sancharMahasul)
                </td>
                <td>
                    @CheckZero(item.endhan)
                </td>
                <td>
                    @CheckZero(item.sanchalanMarmat)
                </td>
                <td>
                    @CheckZero(item.bima)
                </td>
                <td>
                    @CheckZero(item.karyalayaSambandhi)
                </td>
                <td>
                    @CheckZero(item.pustakSamagri)
                </td>
                <td>
                    @CheckZero(item.sewaParamarsa)
                </td>
                <td>
                    @CheckZero(item.anyaSewaSulka)
                </td>
                <td>
                    @CheckZero(item.karyakram)
                </td>
                <td>
                    @CheckZero(item.bibidhaKaryakram)
                </td>
                <td>
                    @CheckZero(item.anugamanMulyankan)
                </td>
                <td>
                    @CheckZero(item.bhraman)
                </td>
                <td>
                    @CheckZero(item.bibidha)
                </td>
            </tr>
            }
        }
        <tr>
            <th>मिति</th>
            <th>गो.भौ.नं.</th>
            <th>विवरण</th>
            <th colspan="19">निकासा तर्फ</th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.bajetHisabType == "nikasa")
            {
                <tr>
                    <td>
                        @StringToUnicode(item.nepDateStr.Split('/')[1] + "/" + item.nepDateStr.Split('/')[2])
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.jornalNo)
                    </td>
                    <td>
                        @item.bibaran
                    </td>
                    <td>
                        @CheckZero(item.talab + item.mahangiBhatta + item.anyaBhatta + item.posak + item.paniBijuli + item.sancharMahasul + item.endhan + item.sanchalanMarmat +
                    item.bima + item.karyalayaSambandhi + item.pustakSamagri + item.sewaParamarsa + item.anyaSewaSulka + item.karyakram + item.bibidhaKaryakram + item.anugamanMulyankan + item.bhraman + item.bibidha)
                    </td>
                    <td>
                        @CheckZero(item.talab)
                    </td>
                    <td>
                        @CheckZero(item.mahangiBhatta)
                    </td>
                    <td>
                        @CheckZero(item.anyaBhatta)
                    </td>
                    <td>
                        @CheckZero(item.posak)
                    </td>
                    <td>
                        @CheckZero(item.paniBijuli)
                    </td>
                    <td>
                        @CheckZero(item.sancharMahasul)
                    </td>
                    <td>
                        @CheckZero(item.endhan)
                    </td>
                    <td>
                        @CheckZero(item.sanchalanMarmat)
                    </td>
                    <td>
                        @CheckZero(item.bima)
                    </td>
                    <td>
                        @CheckZero(item.karyalayaSambandhi)
                    </td>
                    <td>
                        @CheckZero(item.pustakSamagri)
                    </td>
                    <td>
                        @CheckZero(item.sewaParamarsa)
                    </td>
                    <td>
                        @CheckZero(item.anyaSewaSulka)
                    </td>
                    <td>
                        @CheckZero(item.karyakram)
                    </td>
                    <td>
                        @CheckZero(item.bibidhaKaryakram)
                    </td>
                    <td>
                        @CheckZero(item.anugamanMulyankan)
                    </td>
                    <td>
                        @CheckZero(item.bhraman)
                    </td>
                    <td>
                        @CheckZero(item.bibidha)
                    </td>
                </tr>
            }
        }
        <tr>
            <td></td>
            <td></td>
            <td>जम्मा</td>
            <td>
                @CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => (m.talab + m.mahangiBhatta + m.anyaBhatta + m.posak + m.paniBijuli + m.sancharMahasul +
               m.endhan + m.sanchalanMarmat + m.bima + m.karyalayaSambandhi + m.pustakSamagri + m.sewaParamarsa + m.anyaSewaSulka + m.karyakram + m.bibidhaKaryakram + m.anugamanMulyankan + m.bhraman + m.bibidha)))
            </td>

            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.talab))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.mahangiBhatta))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.anyaBhatta))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.posak))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.paniBijuli))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.sancharMahasul))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.endhan))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.sanchalanMarmat))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.bima))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.karyalayaSambandhi))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.pustakSamagri))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.sewaParamarsa))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.anyaSewaSulka))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.karyakram))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.bibidhaKaryakram))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.anugamanMulyankan))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.bhraman))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.bibidha))</td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th colspan="20">खर्च तर्फ</th>
        </tr>
        <tr>
            <th colspan="4"></th>
            <th>२११११</th>
            <th>२१११३</th>
            <th>२१११९</th>
            <th>२११२१</th>
            <th>२२१११</th>
            <th>२२११२</th>
            <th>२२२११</th>
            <th>२२२१२</th>
            <th>२२२१३</th>
            <th>२२३११</th>
            <th>२२३१३</th>
            <th>२२४११</th>
            <th>२२४१२</th>
            <th>२२५२२</th>
            <th>२२५२९</th>
            <th>२२६११</th>
            <th>२२६१२</th>
            <th>२२७११</th>

        </tr>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                if (item.bajetHisabType == "kharcha")
                {
                    <tr>
                        <td>
                            @StringToUnicode(item.nepDateStr.Split('/')[1] + "/" + item.nepDateStr.Split('/')[2])
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.jornalNo)
                        </td>
                        <td>
                            @item.bibaran
                        </td>
                        <td>
                            @CheckZero(item.talab + item.mahangiBhatta + item.anyaBhatta + item.posak + item.paniBijuli + item.sancharMahasul + item.endhan + item.sanchalanMarmat +
                    item.bima + item.karyalayaSambandhi + item.pustakSamagri + item.sewaParamarsa + item.anyaSewaSulka + item.karyakram + item.bibidhaKaryakram + item.anugamanMulyankan + item.bhraman + item.bibidha)
                        </td>
                        <td>
                            @CheckZero(item.talab)
                        </td>
                        <td>
                            @CheckZero(item.mahangiBhatta)
                        </td>
                        <td>
                            @CheckZero(item.anyaBhatta)
                        </td>
                        <td>
                            @CheckZero(item.posak)
                        </td>
                        <td>
                            @CheckZero(item.paniBijuli)
                        </td>
                        <td>
                            @CheckZero(item.sancharMahasul)
                        </td>
                        <td>
                            @CheckZero(item.endhan)
                        </td>
                        <td>
                            @CheckZero(item.sanchalanMarmat)
                        </td>
                        <td>
                            @CheckZero(item.bima)
                        </td>
                        <td>
                            @CheckZero(item.karyalayaSambandhi)
                        </td>
                        <td>
                            @CheckZero(item.pustakSamagri)
                        </td>
                        <td>
                            @CheckZero(item.sewaParamarsa)
                        </td>
                        <td>
                            @CheckZero(item.anyaSewaSulka)
                        </td>
                        <td>
                            @CheckZero(item.karyakram)
                        </td>
                        <td>
                            @CheckZero(item.bibidhaKaryakram)
                        </td>
                        <td>
                            @CheckZero(item.anugamanMulyankan)
                        </td>
                        <td>
                            @CheckZero(item.bhraman)
                        </td>
                        <td>
                            @CheckZero(item.bibidha)
                        </td>
                    </tr>
                }
            }
            <tr>
                <td></td>
                <td></td>
                <td>यस महिनाको जम्मा</td>
                <td>
                    @CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => (m.talab + m.mahangiBhatta + m.anyaBhatta + m.posak + m.paniBijuli + m.sancharMahasul +
               m.endhan + m.sanchalanMarmat + m.bima + m.karyalayaSambandhi + m.pustakSamagri + m.sewaParamarsa + m.anyaSewaSulka + m.karyakram + m.bibidhaKaryakram + m.anugamanMulyankan + m.bhraman + m.bibidha)))
                </td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.talab))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.mahangiBhatta))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.anyaBhatta))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.posak))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.paniBijuli))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.sancharMahasul))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.endhan))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.sanchalanMarmat))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.bima))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.karyalayaSambandhi))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.pustakSamagri))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.sewaParamarsa))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.anyaSewaSulka))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.karyakram))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.bibidhaKaryakram))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.anugamanMulyankan))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.bhraman))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.bibidha))</td>
            </tr>
            foreach (var item in ViewBag.hisabPrevMonth)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td>अल्या</td>
                    <td>@CheckZero((decimal)ViewBag.prevMonthTotal)</td>
                    <td>@CheckZero((decimal)item.talab)</td>
                    <td>@CheckZero((decimal)item.mahangiBhatta)</td>
                    <td>@CheckZero((decimal)item.anyaBhatta)</td>
                    <td>@CheckZero((decimal)item.posak)</td>
                    <td>@CheckZero((decimal)item.paniBijuli)</td>
                    <td>@CheckZero((decimal)item.sancharMahasul)</td>
                    <td>@CheckZero((decimal)item.endhan)</td>
                    <td>@CheckZero((decimal)item.sanchalanMarmat)</td>
                    <td>@CheckZero((decimal)item.bima)</td>
                    <td>@CheckZero((decimal)item.karyalayaSambandhi)</td>
                    <td>@CheckZero((decimal)item.pustakSamagri)</td>
                    <td>@CheckZero((decimal)item.sewaParamarsa)</td>
                    <td>@CheckZero((decimal)item.anyaSewaSulka)</td>
                    <td>@CheckZero((decimal)item.karyakram)</td>
                    <td>@CheckZero((decimal)item.bibidhaKaryakram)</td>
                    <td>@CheckZero((decimal)item.anugamanMulyankan)</td>
                    <td>@CheckZero((decimal)item.bhraman)</td>
                    <td>@CheckZero((decimal)item.bibidha)</td>
                </tr>
            }
            foreach (var item in ViewBag.hisabPrevMonth)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td>कूल जम्मा</td>
                    <td>
                        @CheckZero((decimal)ViewBag.prevMonthTotal + Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => (m.talab + m.mahangiBhatta + m.anyaBhatta + m.posak + m.paniBijuli + m.sancharMahasul +
                 m.endhan + m.sanchalanMarmat + m.bima + m.karyalayaSambandhi + m.pustakSamagri + m.sewaParamarsa + m.anyaSewaSulka + m.karyakram + m.bibidhaKaryakram + m.anugamanMulyankan + m.bhraman + m.bibidha)))
                    </td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.talab) + (decimal)item.talab)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.mahangiBhatta) + (decimal)item.mahangiBhatta)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.anyaBhatta) + (decimal)item.anyaBhatta)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.posak) + (decimal)item.posak)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.paniBijuli) + (decimal)item.paniBijuli)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.sancharMahasul) + (decimal)item.sancharMahasul)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.endhan) + (decimal)item.endhan)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.sanchalanMarmat) + (decimal)item.sanchalanMarmat)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.bima) + (decimal)item.bima)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.karyalayaSambandhi) + (decimal)item.karyalayaSambandhi)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.pustakSamagri) + (decimal)item.pustakSamagri)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.sewaParamarsa) + (decimal)item.sewaParamarsa)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.anyaSewaSulka) + (decimal)item.anyaSewaSulka)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.karyakram) + (decimal)item.karyakram)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.bibidhaKaryakram) + (decimal)item.bibidhaKaryakram)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.anugamanMulyankan) + (decimal)item.anugamanMulyankan)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.bhraman) + (decimal)item.bhraman)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.bibidha) + (decimal)item.bibidha)</td>
                </tr>
            }
        }
    </table>
    }
    else if (Model[0].baUSiNo == "३२५०१४४")
    { 
    <table id="tbl">
        <tr>
            <th colspan="4"></th>
            <th colspan="18"></th>
        </tr>
        <tr>
            <th colspan="4">बजेट शिर्षक नं. @Model[0].baUSiNo</th>
            <th colspan="18">पुँजीगत खर्च</th>
            
        </tr>
        <tr>
            <td colspan="4" rowspan="2"></td>
            <th class="rotate"><div><span>फर्निचर तथा फिक्चर्स</span></div></th>
            <th class="rotate"><div><span>मेसिनरी औजार</span></div></th>
            <th class="rotate"><div><span>पुँजीगत सुधार खर्च</span></div></th>
          </tr>
        <tr>
            <th>२९३११</th>
            <th>२९५११</th>
            <th>२९६२१</th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.bajetHisabType == "budget")
            {
                <tr>
                    <td colspan="3">@item.bibaran</td>
                    <td>
                        @CheckZero(item.furniture+item.machineri+item.pujigatSudhar)
                </td>
                <td>
                    @CheckZero(item.furniture)
                </td>
                <td>
                    @CheckZero(item.machineri)
                </td>
                <td>
                    @CheckZero(item.pujigatSudhar)</td>           
                
            </tr>
            }
        }
        <tr>
            <th>मिति</th>
            <th>गो.भौ.नं.</th>
            <th>विवरण</th>
            <th colspan="19">निकासा तर्फ</th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.bajetHisabType == "nikasa")
            {
                <tr>
                    <td>
                        @StringToUnicode(item.nepDateStr.Split('/')[1] + "/" + item.nepDateStr.Split('/')[2])
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.jornalNo)
                    </td>
                    <td>
                        @item.bibaran
                    </td>
                    <td>
                        @CheckZero(item.furniture+item.machineri+item.pujigatSudhar) </td>
                    <td>
                        @CheckZero(item.furniture)
                    </td>
                    <td>
                        @CheckZero(item.machineri)
                    </td>
                    <td>
                        @CheckZero(item.pujigatSudhar)
                    </td>
                   
                </tr>
            }
        }
        <tr>
            <td></td>
            <td></td>
            <td>जम्मा</td>
            <td>
                @CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => (m.furniture + m.machineri+m.pujigatSudhar)))
            </td>

            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.furniture))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.machineri))</td>
            <td>@CheckZero(Model.Where(m => m.bajetHisabType == "nikasa").Sum(m => m.pujigatSudhar))</td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th colspan="20">खर्च तर्फ</th>
        </tr>
        <tr>
            <th colspan="4"></th>
            <th>२९३११</th>
            <th>२९५११</th>
            <th>२९६२१</th>
        </tr>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                if (item.bajetHisabType == "kharcha")
                {
                    <tr>
                        <td>
                            @StringToUnicode(item.nepDateStr.Split('/')[1] + "/" + item.nepDateStr.Split('/')[2])
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.jornalNo)
                        </td>
                        <td>
                            @item.bibaran
                        </td>
                        <td>
                            @CheckZero(item.pujigatSudhar+item.furniture+item.machineri)
                        </td>
                        <td>
                            @CheckZero(item.furniture)
                        </td>
                        <td>
                            @CheckZero(item.machineri)
                        </td>
                        <td>
                            @CheckZero(item.pujigatSudhar)
                        </td>
                    </tr>
                }
            }
            <tr>
                <td></td>
                <td></td>
                <td>यस महिनाको जम्मा</td>
                <td>
                    @CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => (m.machineri+m.furniture+m.pujigatSudhar)))
                </td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.furniture))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.machineri))</td>
                <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.pujigatSudhar))</td>
            </tr>
            foreach (var item in ViewBag.hisabPrevMonth)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td>अल्या</td>
                    <td>@CheckZero((decimal)ViewBag.prevMonthTotal)</td>
                    <td>@CheckZero((decimal)item.furniture)</td>
                    <td>@CheckZero((decimal)item.machineri)</td>
                    <td>@CheckZero((decimal)item.pujigatSudhar)</td>
                </tr>
            }
            foreach (var item in ViewBag.hisabPrevMonth)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td>कूल जम्मा</td>
                    <td>
                        @CheckZero((decimal)ViewBag.prevMonthTotal + Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => (m.furniture+m.machineri+m.pujigatSudhar)))
                    </td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.furniture) + (decimal)item.furniture)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.machineri) + (decimal)item.machineri)</td>
                    <td>@CheckZero(Model.Where(m => m.bajetHisabType == "kharcha").Sum(m => m.pujigatSudhar) + (decimal)item.pujigatSudhar)</td>
                </tr>
            }
        }
    </table>
    
    }
    
    <div style="width:100%;">
        <br /><br />
        <span style="text-align:left;float:left;">पेश गर्ने</span><span style="text-align:right;float:right;">सदर गर्ने</span>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 text-center">
        @*@Html.ActionLink("Create New", "Fantwari", null, new { @class = "btn btn-primary" })*@
        <input type="submit" class="btn btn-primary" id="btnPrint" value="Print" />
        <input type="submit" class="btn btn-primary" id="btnConvertWord" value="Download Word">
    </div>
</div>
@helper StringToUnicode(string data)
{
    string uni = "";
    foreach (char c in data)
    {
        var charCode = "U+" + ((int)c).ToString("X4");
        switch (charCode)
        {
            case "U+0030":
                uni += "०";
                break;
            case "U+0031":
                uni += "१";
                break;
            case "U+0032":
                uni += "२";
                break;
            case "U+0033":
                uni += "३";
                break;
            case "U+0034":
                uni += "४";
                break;
            case "U+0035":
                uni += "५";
                break;
            case "U+0036":
                uni += "६";
                break;
            case "U+0037":
                uni += "७";
                break;
            case "U+0038":
                uni += "८";
                break;
            case "U+0039":
                uni += "९";
                break;
            default:
                uni += c;
                break;
        }
    }
    @uni
}
@helper CheckZero(decimal data)
{
    if (data == 0)
    {
        @StringToUnicode("")
    }
    else
    {
        @StringToUnicode(data.ToString())
    }
}
@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery.ui")
    @Styles.Render("~/Content/css/jquery.ui")
    <script src="~/Scripts/googoose.js"></script>
    <script language="javascript">
        $(document).ready(function () {

            $("#btnPrint").click(function (e) {
                PrintElem("printDiv");
            });


            function PrintElem(elem) {
                var mywindow = window.open('', 'PRINT', 'height=595,width=842');

                mywindow.document.write('<html><head><style>body {font-size:10px;}#tbl {border-collapse: collapse !important;width: 100%;font-size: 10px;}#tbl td, #tbl th {border: 1px solid black !important;padding: 1px !important;} .alignleft {float: left;text-align: left;width: 33.33333%;}.aligncenter {float: left;text-align: center;width: 33.33333%;}.alignright {float: left;text-align: right;width: 33.33333%;}</style><title></title>');
                mywindow.document.write('</head><body >');
                mywindow.document.write(document.getElementById(elem).innerHTML);
                mywindow.document.write('</body></html>');

                mywindow.document.close(); // necessary for IE >= 10
                mywindow.focus(); // necessary for IE >= 10*/

                mywindow.print();
                mywindow.close();

                return true;
            }

            $("#btnConvertWord").click(function (event) {
                $(document).googoose({
                    area: '#printDiv',
                    filename: "बजेट हिसाब",
                    size: '11.69in 8.26in',
                    headermargin: '.01in',
                    footermargin: '.01in'
                });
            });
        });
    </script>
}