@model List<AccountingSystem.Models.kharchaKoFantwari>

@{
    ViewBag.Title = "Kharcha Ko Fantwari";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    #tbl {
        border-collapse: collapse;
        width: 100%;
        font-size: 12px;
    }

        #tbl td, #tbl th {
            border: 1px solid black;
            padding: 1px;
        }
    .alignleft {
        float: left;
        text-align: left;
        width: 50%;
    }

    .alignright {
        float: right;
        text-align: left;
        width: 50%;
    }
   
</style>
<div class="row" id="printDiv" style="font-size:12px;width:845px;">

    <div style="width:100%;text-align:center;">नेपाल सरकार<br />संस्कृति, पर्यटन तथा नागरिक उड्डयन मन्त्रालय <br />राष्ट्रिय अभिलेखालय <br />रामशाहपथ, काठमाडौँ |<br /> @Model[0].year वर्ष @Model[0].month महिनाको खर्चको फाँटवारी<br />कार्यालय कोड नं. २७-३२५-१३</div>
    <div style="width:100%;"><span style="float:left;">ब.उ.शि.नं.@Model[0].baUSiNo</span><span style="float:right;">आ.ब.@Model[0].nepFy</span></div><br />

    <table id="tbl">
        <tr>
            <th>
                यस महिनाको खर्च
            </th>
            <th>
                यस महिना सम्मको खर्च
            </th>
            <th>
                बजेट रकम नं
            </th>
            <th>
                बजेट शिर्षक
            </th>
            <th>
                आर्थिक बजेट रकम
            </th>
            <th>
                यस महिना सम्मको निकासा
            </th>
            <th>
                बाँकी बजेट
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @CheckZero(item.kharchaThisMonth)
                </td>
                <td>
                    @CheckZero(item.kharchaTillThisMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.khaSiNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.khaSirsak)
                </td>
                <td>
                    @CheckZero(item.budgetThisYear)
                </td>
                <td>
                    @CheckZero(item.kharchaTillThisMonth)
                </td>
                <td>
                    @CheckZero(item.budgetThisYear - item.kharchaTillThisMonth)
                </td>
            </tr>
        }
        <tr>
            <td>
                @CheckZero(Model.Sum(m=>m.kharchaThisMonth))
            </td>
            <td>
                @CheckZero(Model.Sum(m=>m.kharchaTillThisMonth))
            </td>
            <td>
              
            </td>
            <td>
              जम्मा
            </td>
            <td>
                @CheckZero(Model.Sum(m=>m.budgetThisYear))
            </td>
            <td>
                @CheckZero(Model.Sum(m=>m.kharchaTillThisMonth))
            </td>
            <td>
                @CheckZero(Model.Sum(m=>(m.budgetThisYear-m.kharchaTillThisMonth)))
            </td>

        </tr>

        @if ((string)ViewBag.IsNullArtha == "NotNull")
        {
            <tr><td colspan="7" style="text-align:center;">अर्थ बजेट तर्फ</td></tr>
            <tr>
                <td></td>
                <td></td>
                <td>२७३१३</td>
                <td>६०१०१४३</td>
                <td></td>
                <td>@CheckZero((decimal)ViewBag.khaSiNa3)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>२७३१४</td>
                <td>६०१०१८३</td>
                <td></td>
                <td>@CheckZero((decimal)ViewBag.khaSiNa4)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>जम्मा</td>
                <td></td>
                <td>@CheckZero((decimal)ViewBag.khaSiNa4 + (decimal)ViewBag.khaSiNa3)</td>
                <td></td>
            </tr>
        }
        <tr>
            <td> @CheckZero(Model.Sum(m => m.kharchaThisMonth))</td>
            <td> @CheckZero(Model.Sum(m => m.kharchaTillThisMonth))</td>
            <td></td>
            <td>कूल जम्मा</td>
            <td></td>
            <td> @CheckZero(Model.Sum(m => m.kharchaTillThisMonth) + (decimal)ViewBag.khaSiNa3 + (decimal)ViewBag.khaSiNa4)</td>
            <td> @CheckZero((Model.Sum(m => m.budgetThisYear- m.kharchaTillThisMonth)))</td>
        </tr>
    </table>
    <div style="width:100%;text-align:center;">
        <label><u>कोषको अवस्था</u></label>
    </div>
    <div style="width:100%;">
        <p class="alignleft">बैंकको नाम ने.रा. बैंक<br />
        जम्मा जम्मी निकासा रु &nbsp;@CheckZero(Model.Sum(m => m.kharchaTillThisMonth))<br />
        जम्मा जम्मी खर्च रु &nbsp; @CheckZero(Model.Sum(m => m.kharchaTillThisMonth))<br />
        फर्सिन बाँकी पेश्की रु &nbsp; @CheckZero((decimal)ViewBag.FarchinaBaki)<br />
        पेश्की कटाई बाँकी खर्च रु&nbsp;@CheckZero(Model.Sum(m => m.kharchaTillThisMonth)-(decimal)ViewBag.FarchinaBaki)</p>
        <p class="alignright">बैंक खाता नं. : स.अ.<br />बैंक मौज्दात :</p>
    </div>
    <div style="clear:both;"></div>
    <div style="width:100%;">
        <p class="alignleft">पेश गर्ने:<br /></p>
        <p class="alignright" style="text-align:right;padding-right:50px;">सदर गर्ने<br /></p>
    </div>
    <div style="clear:both;"></div>
    <div style="text-align:right;float:right;">
        म.ले.प.फा.नं.१३
    </div>
</div>
<br />
<div class="col-md-12" style="padding-left:200px;">
    @*@Html.ActionLink("Create New", "Fantwari", null, new { @class = "btn btn-primary" })*@
    <input type="submit" class="btn btn-primary" id="btnPrint" value="Print" />
    <input type="submit" class="btn btn-primary" id="btnConvertWord" value="Download Word">
</div>

@helper StringToUnicode(string data)
{
    string uni = "";
    foreach (char c in data)
    {
        var charCode = "U+" + ((int)c).ToString("X4");
        switch (charCode)
        {
            case "U+0030":
                uni += "०";
                break;
            case "U+0031":
                uni += "१";
                break;
            case "U+0032":
                uni += "२";
                break;
            case "U+0033":
                uni += "३";
                break;
            case "U+0034":
                uni += "४";
                break;
            case "U+0035":
                uni += "५";
                break;
            case "U+0036":
                uni += "६";
                break;
            case "U+0037":
                uni += "७";
                break;
            case "U+0038":
                uni += "८";
                break;
            case "U+0039":
                uni += "९";
                break;
            default:
                uni += c;
                break;
        }
    }
    @uni
}
@helper CheckZero(decimal data)
{
    if (data == 0)
    {
        @StringToUnicode("0.00")
    }
    else
    {
        @StringToUnicode(data.ToString())
    }
}


@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery.ui")
    @Styles.Render("~/Content/css/jquery.ui")
    <script src="~/Scripts/googoose.js"></script>
    <script language="javascript">
        $(document).ready(function () {

            $("#btnPrint").click(function (e) {
                PrintElem("printDiv");
            });
            function PrintElem(elem) {
                var mywindow = window.open('', 'PRINT', 'height=842,width=595');

                mywindow.document.write('<html><head><style>body {font-size:12px;}#tbl {border-collapse: collapse !important;width: 100%;font-size: 12px;}#tbl td, #tbl th {border: 1px solid black !important;padding: 1px !important;} .alignleft {float: left;text-align: left;width: 33.33333%;}.aligncenter {float: left;text-align: center;width: 33.33333%;}.alignright {float: right;text-align: right;width: 33.33333%;}</style><title></title>');
                mywindow.document.write('</head><body >');
                //mywindow.document.write('<h1>' + document.title  + '</h1>');
                mywindow.document.write(document.getElementById(elem).innerHTML);
                mywindow.document.write('</body></html>');

                mywindow.document.close(); // necessary for IE >= 10
                mywindow.focus(); // necessary for IE >= 10*/

                mywindow.print();
                mywindow.close();

                return true;
            }
            $("#btnConvertWord").click(function (event) {
                $(document).googoose({
                    area: '#printDiv',
                    filename: "खर्चको फाँटवारी",
                    size: '8.27in 11.69in',
                    headermargin: '.01in',
                    footermargin: '.01in'

                });
            });
        });
    </script>
}