@{
    ViewBag.Title = "Journal Nikasa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <h2 class="text-center">गोश्वारा भौचर(निकासा)को लागि वर्ष महिना छान्नुहोस् </h2>
    @using (Html.BeginForm("CreateNikasa", "JornalEntries", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.ValidationSummary()
        if (TempData["ErrorMessage"] != null)
        {
            <div class="col-md-4 col-md-offset-4">
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            </div>
        }
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label>आ.ब.</label>
                    @Html.DropDownList("fyId", null, new { @class = "form-control", id = "ddlFyId" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>महिना</label>
                    @Html.DropDownList("mn", EnumHelper.GetSelectList(typeof(AccountingSystem.Models.month)), new { @class = "form-control", id = "txtMonth" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>ब.उ.शि.नं.</label>
                    @Html.DropDownList("baUSiNaId", new SelectList(ViewBag.baUSiNaId, "value", "text"), "--ब.उ.शि.नं.--", new { @class = "form-control", id = "txtBaUSiNa" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>भुक्तानी आदेश नं</label><label class="text-danger" id="lblError"></label>
                    @Html.DropDownList("bhuktaniAdeshNo",new SelectList(ViewBag.bhuktaniAdeshNo,"text","value"),"--छान्नुहोस्--", new { @class = "form-control", id = "ddlBhuktaniNo" })
                </div>
            </div>
            <div class="col-md-12 text-center">
                <input type="submit" value="Submit" class="btn btn-primary" id="btnSubmit" />
                @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
        <div class="col-md-4"></div>
    }
</div>
@section Scripts{
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery.ui")
    @Styles.Render("~/Content/css/jquery.ui")
    <script type="text/javascript">
        $(document).ready(function () {
            var listBhuktaniNo;

            function getBhuktaniNo() {
                var fyId = $("#ddlFyId").val();
                var monthIndex = $("#txtMonth").val();
                var baUSiNaId = $("#txtBaUSiNa").val();

                $.ajax({
                    async: false,
                    url: RootUrl + 'JornalEntries/getBhuktaniNo/',
                    type: "POST",
                    dataType: "json",
                    data: "{'fyId':'" + fyId + "','monthIndex':'" + monthIndex + "','baUSiNaId':'"+baUSiNaId+"'}",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        listBhuktaniNo = data;
                    }
                });
            }

            $("#txtMonth").change(function (e) {
                changeFunction();
            });
            $("#ddlFyId").change(function (e) {
                changeFunction();
            });
            $("#txtBaUSiNa").change(function (e) {
                changeFunction();
            });

            function changeFunction() {
                getBhuktaniNo();
                var option = '';
                $("#ddlBhuktaniNo").empty();
                option += '<option value="">--छान्नुहोस्--</option>';
                for (var i = 0; i < listBhuktaniNo.length; i++) {
                    option += '<option value="' + listBhuktaniNo[i].value + '">' + listBhuktaniNo[i].label + '</option>';
                }
                $('#ddlBhuktaniNo').append(option);
                if (listBhuktaniNo.length == 0) {
                    $('#lblError').val("No भुक्तानी आदेश नं. found for selected for selected month and fiscal year.");
                }
                else {
                    $('#lblError').val("");
                }
               
            }

            $("#btnSubmit").click(function (e) {
                if (checkValidationTextBox() == false) {
                    e.preventDefault();
                }
            });

            function checkValidationTextBox() {
                if ($("#ddlBhuktaniNo").val() == "" || $("#ddlBhuktaniNo").val() == 0) {
                    alert("Select one of the option from Bhuktani Number");
                    return false;
                }

                else {
                    return true;
                }
            }
        });
    </script>
}
