@model AccountingSystem.Models.budget

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <h2>सम्बन्धित बजेट विवरण परिवर्तन गर्नुहोस</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.budgetId)
        <div class="col-md-3">
            <div class="form-group">
                <label>ख.शि.नं.</label>
                @Html.TextBoxFor(model => model.khaSiNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.khaSiNo)
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>बजेट रकम</label>
                @Html.TextBoxFor(model => model.budgetAmount, new { @class = "form-control", type = "decimal" })
                @Html.ValidationMessageFor(model => model.budgetAmount)
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>नेपाली आ.ब.</label>
                @Html.TextBoxFor(model => model.nepFy, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nepFy)
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>अंग्रेजी आ.ब.</label>
                @Html.TextBoxFor(model => model.enFy, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.enFy)
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>कैफियत</label>
                @Html.TextBoxFor(model => model.remarks, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.remarks)
            </div>
        </div>


        <div class="col-md-12 text-center">
            <input type="submit" value="Save" class="btn btn-primary" /> @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }

</div>
