@model AccountingSystem.Models.khaShrot

@{
    ViewBag.Title = "Details kharchaShrot";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>khaShrot</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sourceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
